<div class="row">
  <ul id="thumbnailsList">
      <li class="images" *ngFor="let image of images">
            <a [routerLink] = "['/image', image._id]">
              <img #bubbleImg src="{{ image.ImagePath }}" class="tn" alt="Not Found" width="200"
            height="160"/>
            </a>
      </li>
  </ul>
</div>
