
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tn {
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
}