<div class="row">
    <div class="col-md-12">
        <canvas #myCanvas>
            <img #bubbleimg [ngStyle] = "{'background-image':'url('+image.ImagePath+')'}"
            class="img-container" alt="not found">
        </canvas>
    </div>
</div>

<!-- <div class="style">
    <button class="btn btn-success markUp"  (click)="onDoodle()">
        Add Markup
    </button>
    <button class="btn btn-primary btn2" (clisk)="save()">Save</button>
    <button class="btn btn-danger" (click)="Delete(image._id)">Delete</button>
</div> -->