<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a
            [routerLink]="'/upload'"
            routerLinkActive="active"
            class="nav-link"
            >Upload</a
          >
        </li>
        <li class="nav-item">
          <a
            [routerLink]="'/list'"
            routerLinkActive="active"
            class="nav-link"
            >List Images</a
          >
        </li>
      </ul>
    </div>
  </nav>