*{
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.upload {
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
}

.btn-upload {
    display: flex;
    flex-direction: column;       
}