<div class="container">
  <div class="upload">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input
          (change)="fileUpload($event)"
          type="file"
          name="productImage"
          accept="image/*"
          class="custom-file-input"
          id="inputGroupFile01"
          aria-describedby="inputGroupFileAddon01"
          multiple
        />
        <label class="custom-file-label" for="inputGroupFile01"
          >Choose.....</label
        >
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-success" (click)="upload()">Uplaod</button>
  </div>
</div>
