* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload {
  display: flex;
  width: 30vw;
  justify-content: center;
  align-items: center;
}
